h1{
 color: blue;
 text-align: center;
 }

 h2{
  color: red;

  }
  h3{
   font-weight: bold;
   font-style: italic;
   }
  ul{
   font-size: 20pxl;
   line-height: 30pxl;
   }
a{
 color: blue;
 font-weight: bold;
 }
